body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: #fffbea; */
  /* background-color: rgba(243, 216, 106, 0.85); */
  background-color: #f3d86a;

  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(243, 216, 106, 0.85); */
  background-color: #f3d86a;
  padding: 10px 30px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.1); */
  margin-bottom: 35px;
}

/* Logo (ícone + nome) */
header .log {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .log h2 {
  font-size: 35px;
  margin: 0;
}

header .log h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

/* Navegação */
nav {
  display: flex;
  gap: 20px;
}

nav button {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  background: #ffac40a9;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.2s ease;
}

nav button:hover {
  background-color: #f6910d;
  transform: scale(1.05);
}

nav button:active {
  transform: scale(0.97);
}
/* ______________________________________ */

/* .tela {
  max-width: 64%;
  max-height: 70%;
  margin: 0 auto;
  padding: 290px;  
  background: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
} */

/* .tela {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  background: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
} */

/* .tela img {
  max-width: 100%;
  max-height: 580px; 
  width: auto;
  height: auto;
  display: block;
  border-radius: 10px;
} */

.tela {
  width: 64%;
  max-height: 70%;
  background: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 0 auto;
  position: relative; /* necessário para o player absoluto */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela img {
  max-width: 100%;
  max-height: 580px;
  border-radius: 10px;
}

/* ____________________________________________ */

#player {
      width: 10%;
      background-color: transparent;
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 5px;
      transform: translate(-50%, -50%);
      transition: transform 0.1s linear;

     /*border-left: 3px solid black;
       border-top: 3px solid black; */
    }

#saloon {
    height: 200px;
}

/* _________________________________________________________________ */

/* Estilo do modal (overlay) */
.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Conteúdo do modal */
.modal-content {
  background-color: #fffc9e /*#ffe89d*/;
  border-radius: 15px;
  margin: 15% auto; /* Centraliza verticalmente e horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation: fadeInScale 0.3s ease;
  max-width: 600px;
  box-sizing: border-box;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .modal-content {
    width: 95%;
    padding: 15px;
  }
}

/* Botão de fechar */
/* .fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; 
}  */

/* Botão de fechar */
.fechar {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.2s ease;
}

.fechar:hover,
.fechar:focus {
  color: #f00;
  transform: scale(1.2);
  cursor: pointer;
}

/* Botoes da configuração */

/* #config {
  background-color: #ffe89d;
} */

.config-opcoes {
  display: flex;
  /* flex-direction: row; */
  gap: 15px;
  margin-top: 20px;
}

.config-opcoes button {
  flex-direction: row;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  background-color: #ffac40;
  cursor: pointer;
  transition: all 0.2s ease;
}

.config-opcoes button:hover {
  background-color: #f6910d;
  transform: scale(1.03);
}

/* ____________________________________________________________ */

.powerup {
  border-radius: 15px;
  background-color: #ffe89d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

.powerup h4 {
  padding: 0 15px;
  margin: 0;
}

.powerup button {
  padding: 5px 10px;
  border-radius: 8px;
  border: 0;
  background-color: #ffac40;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.powerup button:hover {
  background-color: #f6910d;
  color: #5c4400;
}



#game-area {
  width: 65%;
 max-height: 70%;
 background: black;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 margin: 0 auto;
 position: relative; /* necessário para o player absoluto */
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

.fundo {
 max-width: 70%;
}

#game-area img {
 max-width: 100%;
 max-height: 580px;
 border-radius: 10px;
}

/* ================== COLISÃO ================== */

#mesa1, #mesa2, #mesa3, #parede, #parede2, #chao {
 background-size: cover;
 position: absolute;
}

#mesa1 {
 height: 20%;
 left: 430px;
 top: 230px;
 z-index: 3;
}

#mesa2 {
 height: 27%;
 left: 370px;
 top: 400px;
 z-index: 3;
}

#mesa3 {
 height: 27%;
 left: 750px;
 top: 400px;
 z-index: 3;
}

#parede {
 /* background-color: blue; */
 height: 33vh;
 width: 65vw;
 z-index: 3;
}

#parede2 {
 /* background-color: purple; */
 height: 43vh;
 width: 35vw;
 left: 48vw;
 z-index: 3;
}

#chao {
 /* background-color: green; */
 height: 6vh;
 width: 100vw;
 top: 42vw;
 z-index: 999;
}

/*================== JOGADOR ==================*/

.player {
 /* width: 13%; */
 width: 80px;
 background-color: transparent;
 position: absolute;
 left: 50%;
 top: 50%;
 border-radius: 5px;
 transform: translate(-50%, -50%);
 transition: transform 0.1s linear;
 z-index: 1;
}